ion-row.active {
  background-color: #f5f5f5;
}

ion-row.success {
  background-color: #dff0d8;
}

ion-row.warning {
  background-color: #fcf8e3;
}

ion-row.error {
  background-color: #f2dede;
}

ion-row.header{
    background-color: #0076b1;
    color:white;
    font-size:16px;
}

ion-row.content-row{
    background-color: #eef5f9;
    color:#EB7260;
    height:100&;
}

ion-col{
    height:100%;
}